[submodule "libs/imgui-console"]
	path = libs/imgui-console
	url = https://github.com/rmxbalanque/imgui-console.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
